{% extends "base.html" %}



{% block main_page %}

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6"> {{ post.created_date}} </p>
                    <p class="card-text">{{post.description }}</p>
                    <p class="btn btn-info"><a href="/home/">Back</a></p>
                    &nbsp;  &nbsp;
                    <p class="btn btn-info"><a href="/home/EditPost/{{ post.id }}">Edit</a></p>
                </div>
            </div>
    <br>

{% endblock main_page %}