<html>

    <head>

        <title>
            Blogging
        </title>
        {% load staticfiles %}          <!-- To load the files present in the blog_app/static folder -->

        <style>

            .html
            {
                height:100%;
            }
            .body{
                width:100%;
                height:100%;
            }
/*
            .sidebar{
                width:30%;
                float: left;
                display:inline-block;
            }

            .main_page{
                width:70%;
                float:right;
                display:inline-block;
                overflow: scroll;
            }
*/
        </style>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

    </head>

    <body class="dashboard">



    </body>

</html>